<%= form_with(model: team_member) do |form| %>
  <% if team_member.errors.any? %>
    <div class="alert alert-warning" role="alert">
      <h3 class="alert-heading"><%= pluralize(team_member.errors.count, "error") %> prohibited this team_member from being saved:</h3>

      <ul class="list-group list-group-flush">
        <% team_member.errors.each do |error| %>
          <li class="list-group-item list-group-item-warning"><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row my-3">
    <div class="col-12 col-md-6">
      <%= form.label :first_name, class: 'form-label', for: 'first_name', 'aria-label' => 'First name' %>
      <%= form.text_field :first_name, class: 'form-control', placeholder: 'First name' %>
    </div>

    <div class="col-12 col-md-6 mt-3 mt-md-0">
      <%= form.label :last_name, class: 'form-label', for: 'last_name', 'aria-label' => 'Last name' %>
      <%= form.text_field :last_name, class: 'form-control', placeholder: 'Last name' %>
    </div>
  </div>

  <div class="row my-3">
    <div class="col-12 col-md-6">
      <%= form.label :grouping_id, class: 'form-label', for: 'grouping_id', 'aria-label' => 'Grouping ID' %>
      <%= form.select :grouping_id,
        options_for_select(@groupings.map { |grouping| [grouping.id, grouping.id] }),
        { include_hidden: false, prompt: 'Please select' },
        { class: 'form-select' }
      %>
    </div>
  </div>

  <div class="d-flex justify-content-end my-3">
    <%= form.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>
