<p id="notice"><%= notice %></p>


<div class="card">
  <div class="card-header">
    <h1>Team Members</h1>
  </div>

  <div class="card-body">
    <ul class="list-group list-group-flush">
      <% @team_members.each do |team_member| %>
        <li class="list-group-item <%= cycle('list-group-item-dark', 'list-group-item-light') %>">
          <div class="row">
            <div class="col-12 col-md-4 font-weight-bold">
              Name: <%= team_member.first_name %> <%= team_member.last_name %>
            </div>

              <div class="col-12 col-md-4 text-muted">
                <% if team_member.grouping_id.present? %>
                  Group: <%= team_member.grouping_id %>
                <% end%>
              </div>

            <div class="col-12 col-md-4 d-flex justify-content-end my-3">
              <%= link_to 'More Details', team_member, class: 'btn btn-primary' %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<%= link_to 'New Team Member', new_team_member_path %>
