<div class='card my-3'>
  <div class="card-header d-flex justify-content-between">
    <h1>Viewing: <%= @team_member.first_name %> <%= @team_member.last_name %></h1>

    <%= link_to 'Delete', @team_member, method: :delete, class: 'btn btn-danger my-3', data: { confirm: 'Are you sure?' } %>
  </div>

  <div class="card-body">
    <p>
      <strong>First name:</strong>
      <%= @team_member.first_name %>
    </p>

    <p>
      <strong>Last name:</strong>
      <%= @team_member.last_name %>
    </p>

    <p>
      <strong>Group:</strong>
      <% if @team_member.grouping_id.present? %>
        <%= link_to @team_member.grouping_id, @team_member.grouping %>
      <% else %>
        None
      <% end %>
    </p>

    <div class="d-flex justify-content-end">
      <%= link_to 'Edit', edit_team_member_path(@team_member), class: 'btn btn-primary' %>
    </div>
  </div>
</div>
